<p><body> Ini adalah homepage pertama saya, karena saya baru belajar tentang cara membuat homepage </body></p>
<p><body> Homepage ini masih dalam tahap pengembangan, oleh karena itu tampilannya masih terlalu sederhana </body></p>
<p><body> Saya akan berusaha untuk terus memperbaiki homepage saya ini, sehingga semakin lama semakin menarik untuk dilihat </body></p>
<p><body> Saya merupakan seorang mahasiswa Prodi Tekni Informatika di Universitas Ahmad Dahlan ini </body></p>
