<p>Perkenalkan,<br/> nama saya<b> PRIYA AYU PRAMUDITA </b>Ini adalah<br/>homepage pertama saya,<br/>karena saya baru belajar tentang cara<br/>membuat homepage.</p>

<p>Homepage ini masih dalam tahap pengembangan, oleh karena itu tampilannya masih terlalu sederhana.</p>

<p><i>Petani di sawah memangkas rumput</i><br/><i>Agar tak ada hewan melata</i><br/><i> Masa depan itu harus dijemput</i><br/><b><i> Dengan ilmu maupun harta</i><b></p>