<body>
<table width="100% border="1" cellspacing="1" cellpadding="1">
<caption> tabel contoh </caption>

<tr>
<th> kolom 1</th>
<th> kolom 2</th>
</tr>
 </tr>
   <tr>
    <td>&nbsp;baris 1 kolom 1</td>
    <td>&nbsp;baris 1 kolom 2</td>
    <td>kolom baru</td>

   </tr>
   <tr>
     <td>&nbsp;baris 2 kolom 1</td>
     <td>&nbsp;baris 2 kolom 2</td>
   </tr>
</table>
</body>
