<p.Kata dapat dicetak<b>tebal</b>, <i>miring</i>, <u>garis bawah</u>, <b>tebal<i>miring</i></b>,
dan <b><i><u>kombinasi</u></i></b> di tengah huruf normal </p>

<P> Perkenalkan nama saya <b>Priya Ayu Pramudita.</b> Sapaan akrab saya <u>Ayak.</u><i>Saya memiliki kebiasaan mendengarkan suara hujan,</i>
dan saya memiliki hobi <b><i><u>bermain game.</u></i></b> Dan saat ini saya sedang menempuh pendidikan di <b><i>Universitas Ahmad Dahlan</i></b>
Yogyakarta. Sekian </p>