<b>Jenis Huruf</b>
<br/><font face="Times New Roman">Homepage ini masih dalam tahap pengembangan</font><br/>
<font face="Arial">Homepage ini masih dalam tahap pengembangan</font><br/>
<font face="Courier New">Homepage ini masih dalam tahap pengembangan</font><br/>
<font face="Verdana">Homepage ini masih dalam tahap pengembangan</font><br/>


<p><b>Ukuran</b></p>
<font size="1">satu,</font>
<font size="2">dua,</font>
<font size="3">tiga,</font>
<font size="4">empat,</font>
<font size="5">lima,</font>
<font size="6">enam,</font>
<font size="7">tujuh,</font><br/>


<p><b>Warna</b>
<br/><b><font color="#FF0000">Red</font><br/>
<font color="#800000">Maroon</font><br/>
<font color="#00FF00">Lime</font><br/>
<font color="#008000">Green</font><br/>
<font color="#0000FF">Blue</font><br/>
<font color="#000080">Navy</font><br/>
<font color="#FFFF00">Yellow</font><br/>
<font color="#FF00FF">Fuchisia</font><br/>
<font color="#00FFFF">Aqua</font><br/></p>


<p><font size="5"><font face="Courier New"><font color="#000080">HELLO !</font><br/>
<font size="3"><font face="Verdana"><font color="#FF00FF"> Perkenalkan..</font><br/>
<font size="4"><font face="Time New Roman"><font color="#800000"> Nama saya Priya Ayu Pramudita </font><br/>






