<p>(X<sub>1</sub> + X<sub>2</sub>)<sup>2</sup> = X<sub>1</sub><sup>2</sup> + 
X<sub>2</sub><sup>2</sup> + 2X<sub>1</sub>2</sub></p>

<p>2H<sub>2</sub> + O<sub>2</sub> = 2 H<sub>2</sub>O</P>

<p>2 x (CH<sub>2</sub>O) = C<sub>2</sub>H<sub>4</sub>O<sub>2</sub></p>

<p><b>CrO</b><sub>4</sub><sup>2</sup><sup>-</sup> dengan <b>Pb</b><sup>2</sup><sup>-</sup><p>

