<body style="background-color: maroon;">
<p>
<img src="Ayak.jpeg" height="25opx" width="150x" align="left">
Perkenalkan, nama saya Priya Ayu Pramudita. Ini adalah homepage pertama saya, karena saya baru belajar tentang cara membuat homepage.<hr /> Homepage ini masih
dalam tahap pengembangan. Oleh karena itu, tampilannya masih terlalu <img src="flower.png" height="100px" alt="logo" /> sederhan. Saya akan berusaha untuk terus
memperbaiki homepage saya ini, sehingga semakin lama semakin menarik untuk dilihat.
<p><br />
<p>
Pada kesempatan kali ini, saya akan menunjukkan halaman selanjutnya dari halaman HTML ini<br />
</p>
<p>
Saya ingin melihat <a href=hal.2.html">halaman selanjutnya</a>. Saya ingin langsung menuju ke <a href="#akhir"> 
bagian akhir</a>. Saya ingin menuju ke <a href="hal2.html#bawah">bagian bawah pada halaman selanjutnya</a>.<br />
Ini bagian tengah.<br />
</p>
<p>
Pada bagian bawah ini anda dapat klik pada gambar untuk menuju ke halaman Detik.com<br />
</p>
<p>
<a href="http://www.detik.com/"><img src="detik.png" height="100px" /><a><br />Homepage detik.com<br />
</p>
<p>
Ini bagian tengah.<br />
</p>
<p>
<a name="#akhir"> Ini bagian akhir.</a>
</p>
<p>
<a href="http://www.elearning.uad.ac.id"><img src="elear.png></a><br />
</p>
<p>
<a href="mailto:priya2000018434@webmail.uad.ac.id">Email saya.</a>
</p>
</boody>